.blocky-patrol-container{
    display: flex;
    flex-direction: column;

    gap: 2.5rem;
}

.blocky-patrol-section{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.blocky-patrol-section-title{
    font-size: 1.4rem;
    font-weight: 550;

    color: var(--font0-selected-color);
}

.blocky-patrol-image-container{
    margin: 0 auto;

    width: 45%;
    max-width: 1000px;
}

.blocky-patrol-link{
    padding: 0.25rem 1rem;
    border-radius: 5px; 

    background-color: var(--blank-color);

    color: var(--font0-color);

    text-decoration: underline;
}
.blocky-patrol-link:hover{
    background-color: var(--button-color);
}

.blocky-patrol-list-element{
    display: list-item;
    
    list-style-type: disc;    
    list-style-position: inside; 
}
.blocky-patrol-list-element::marker{
    color: var( --font0-color);

    font-size: 1.3em;
} 


@media (max-width: 768px){
    .blocky-patrol-image-container{
        width: 85%;
    }

    .blocky-patrol-section-title{
        font-size: 1.2rem;
    }
}