li.navbar-title:hover {
    background: none !important;
}


.navbar-title{
    margin-top: 1rem;

    color: var(--font0-color);
    font-weight: 600;
}

@media (max-width: 768px) {
    .navbar-title{
        font-size: 0.9rem;
    }

}