.resume-toolbar{
    display: flex;
    align-items: center;

    width: 50%;

    margin-left: auto;
    margin-right: auto;

    padding-left: 1vw;
    padding-right: 1vw;

    border: 1px solid var(--border-color);
}


.resume-link{
    width: 50%;

    margin-left: 25%;
    margin-right: 5%;
    /* margin-right: auto; */

    color: var(--font1-color);

    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

    text-decoration: none; 
}


.language-buttons-container{
    display: flex;

    width: 20%;

    /* margin-left: auto;  
    margin-right: 1vw; */
    /* margin-left: auto;  */

    gap: 0.25rem;
}


.language-button{
    flex: 50%;

    padding: 8px 0px;
    /* padding: 8px; */

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    color: var(--font0-color);
    background: var(--blank-color);

    border-radius: 5px;
    border: none; 

    font-size: 1.2rem;
    font-weight: 500;

    cursor: pointer;
}
.language-button:hover{
    background: var(--button-color);
}
.language-button.clicked{
    background: var(--font0-selected-color);
}


.resume-pdf{
    /* width: 50vw; */
    width: 67.5%;
    aspect-ratio: auto 804 / 1177;

    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .resume-toolbar{
        width: 90%;
    }
    

    .resume-link{
        margin-left: 25%;
        margin-right: 0%;

        font-size: 1.1rem;
    }

    .language-buttons-container{
        width: 25%;
    }

    .language-button{
        font-size: 1rem;
    }


    .resume-pdf{
        /* width: 75vw; */
        width: 95%;
    }
}
