canvas {
    display: block !important;  
    margin-left: auto !important; 
    margin-right: auto !important; 
    
    width: 60vw !important;
    min-width: 235px !important;
    max-width: 1177px !important;
    aspect-ratio: auto 804 / 1177 !important;
    height: 100% !important;
    /* width: 100% !important;
    height: 100% !important; */
}

.pdf-preview-container {
    background-color: var(--blank-color) !important;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pdf-preview {
    position: inherit !important;

    background-color: var(--blank-color) !important;
}
