.link-container{
    margin-top: 0.6rem;
}

.link-to-content-page{
    color: var(--font0-selected-color);
    
    font-weight: 500;   
    /* font-size: 500;    */
    font-size: 0.875rem;   
    
    text-decoration: none; 
}

.link-to-content-page:visited {
  color: var(--font0-selected-color);
  text-decoration: none;
}

@media (max-width: 768px) {
    .link-to-content-page{
        font-size: 0.675rem;
    }

}