[data-theme="light"] {
  --background-color: rgb(235, 235, 238);
  --border-color: rgb(180, 180, 190);
  --button-color: rgba(170, 170, 170, 0.2);
  --blank-color: rgba(0);
  --font0-color: rgb(30, 30, 40);
  --font1-color: rgba(30, 30, 40, 0.7);
}

[data-theme="dark"] {
  --background-color: rgb(38, 38, 38);
  --border-color: rgb(88, 88, 88);
  --button-color: rgba(100, 100, 100, 0.2);
  --blank-color: rgba(0);
  --font0-color: rgb(240, 240, 250);
  --font1-color: rgba(240, 240, 250, 0.7);
  /* --font2-color: ; */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  /* background-color: #1a1a1a; */
  background: var(--background-color);
}