[data-theme="light"] {
  --background-color: rgb(225, 225, 228);
  --border-color: rgb(205, 205, 208);
  --button-color: rgba(170, 170, 170, 0.2);
  --blank-color: rgba(0);
  --font0-color: rgb(45, 45, 55);
  --font1-color: rgba(45, 45, 55, 0.55);
  --font0-selected-color: rgb(235, 148, 52);
  /* --font1-selected-color: rgba(235, 148, 52, 1); */
}

[data-theme="dark"] {
  --background-color: rgb(38, 38, 38);
  --border-color: rgb(63, 63, 63);
  --button-color: rgba(100, 100, 100, 0.2);
  --blank-color: rgba(0);
  --font0-color: rgb(240, 240, 250);
  --font1-color: rgba(240, 240, 250, 0.55);
  --font0-selected-color: rgb(235, 148, 52);
  /* --font1-selected-color: rgba(235, 148, 52, 0.75); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background: var(--background-color);

  overflow: hidden;
}