.home-h1{
    font-size: 1.4rem;
    font-weight: 550;

    color: var(--font0-selected-color);
}

.home-h2{
    font-size: 1.3rem;
    font-weight: 550;
}

.home-h3{
    font-size: 1.2rem;
    font-weight: 550;
}

.home-list-element-link{
    color: var(--font0-selected-color);

    text-decoration: underline;
}

.home-list-element{
    /* padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh; */
    padding: 0.25rem 1rem;

    border-radius: 5px; 

    /* font-size: 1.2rem; */
}

dt.home-list-title-element, 
dd.home-list-element{
    display: list-item;
    
    list-style-type: disc;    
    list-style-position: inside; 
}
dt.home-list-title-element::marker{
    color: var( --font0-color);

    font-size: 1.3em;
} 
dd.home-list-element::marker {
    color: var( --font0-selected-color);

    font-size: 1.3em; 
}
.home-list-element:hover{
    background-color: var(--button-color);
}


.home-section{
    margin: 2rem 0px;
}




@media (max-width: 768px) {
    .home-h1{
        font-size: 1.2rem;
    }

    .home-h2{
        font-size: 1.1rem;
    }

    .home-h3{
        font-size: 1rem;
    }

}