.home-h1{
    font-size: 2rem;
    font-weight: 550;
}

.home-h2{
    font-size: 1.4rem;
    font-weight: 550;

    color: var(--font0-selected-color);
}

.home-h3{
    font-size: 1.2rem;
    font-weight: 500;
}



.home-container{
    display: flex;
    flex-direction: column;

    gap: 2.5rem;
}


.home-section{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.home-section-title{
    display: flex;

    align-items: center;
}

.home-title-icon{
    display: flex;
    margin-right: 0.5rem;
}


.home-table-link-container{
    display: flex;

    align-items: center;
}


.home-list-element{
    display: flex;

    align-items: center;

    margin: 0 0.35rem;
    padding: 0.25rem 0.75rem;
    border-radius: 5px; 

    gap: 1rem;
}
.home-list-element:hover{
    background-color: var(--button-color);
}


.home-link{
    color: var(--font0-color);

    text-decoration: underline;
}


.home-list-image{
    width: 3rem;
}



@media (max-width: 768px) {
    .home-h1{
        font-size: 1.8rem;
    }

    .home-h2{
        font-size: 1.1rem;
    }

    .home-h3{
        font-size: 1rem;
    }
    
    .home-list-image{
    width: 2.6rem;
}
}