.project-container{
    display: flex;
    flex-direction: column;

    gap: 2.5rem;
}


.project-section{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.project-section-title{
    display: flex;

    align-items: center;

    font-size: 1.4rem;
    font-weight: 550;

    color: var(--font0-selected-color);
}

.project-title-icon{
    display: flex;
    margin-right: 0.5rem;
}


.project-image-container{
    margin: 0 auto;

    width:  50%;
    aspect-ratio: 1/1;
}

.project-latex{
    height: 1.4rem;
    margin: 5px 0px;
}

.project-sublist{
    list-style: disc;
    list-style-position: inside;

    padding-left: 0px;
}
.project-sublist:hover{
    background-color: transparent;
}

.project-sublist-item{
    /* display: inline-flex;
     */
    list-style: decimal;
    list-style-position: inside;
}
.project-sublist-item:hover{
    background-color: transparent;
}

.centered-latex{
    padding-left: 1rem;
}

.project-list-element{
    list-style: disc;
    list-style-position: inside;

    font-size: 1.2rem;
}
.project-list-element:hover{
    background-color: transparent;
}

@media (max-width: 768px){
    .project-image-container{
        width: 85%;
    }

    .project-section-title{
        font-size: 1.2rem;
    }

    .project-latex{
        height: 1.2rem;
        margin: 3px 0px;
    }

    .project-list-element{
        list-style: disc;
        list-style-position: inside;

        font-size: 1rem;
    }
}