.project-container{
    display: flex;
    flex-direction: column;

    gap: 2.5rem;
}


.project-section{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.project-section-title{
    display: flex;

    align-items: center;

    font-size: 1.4rem;
    font-weight: 550;

    color: var(--font0-selected-color);
}

.project-title-icon{
    display: flex;
    margin-right: 0.5rem;
}


.project-image-container{
    margin: 0 auto;

    width:  50%;
    aspect-ratio: 1/1;
}

.project-latex{
    height: 1.4rem;
    margin: 5px 0px;
}

@media (max-width: 768px){
    .project-image-container{
        width: 85%;
    }

    .project-section-title{
        font-size: 1.2rem;
    }

    .project-latex{
        height: 1.2rem;
        margin: 3px 0px;
    }
}