.contact-links-container{
    padding: 2rem 0px;
}

.contact-links-container > *:not(:first-child) {
  margin-top: 0.75rem;
}
.contact-link{
    display: flex;
    align-items: center;

    padding: 0.25rem 1rem;
    border-radius: 5px; 

    color: var(--font0-color);
    background: var(--blank-color);

    font-size: 1.3rem;
    text-decoration: none;

    gap: 1.5rem;
}
.contact-link:hover{
    background-color: var(--button-color);
}

.contact-link-icon{
    align-items: center;

    font-size: 1.3rem;
    font-weight: 600;
}



@media (max-width: 768px) {
    .contact-link{
        font-size: 1.1rem;
    }
    .contact-link-icon{
        font-size: 1.1rem;
    }
}