.section-name{
    display: flex;
    align-items: center;

    margin-bottom: 0.25rem;

    color: var(--font0-selected-color);

    font-size: 0.875rem;
    font-weight: 800;

    text-transform: uppercase;  
}

.section-part {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.section-part svg{
    filter: drop-shadow(0 0 1px currentColor);
    margin-left: 4px;
    margin-right: 4px;
}
