.section-name{
    display: flex;
    align-items: center;

    margin-bottom: 0.25rem;

    color: var(--font0-selected-color);

    font-size: 0.875rem;
    font-weight: 800;

    text-transform: uppercase;  
}

.section-part {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.section-part svg{
    margin-left: 4px;
    margin-right: 4px;
}

@media (max-width: 768px) {
    .section-name{
        font-size: 0.675rem;
    }

}
